{
  "extends": ["stylelint-config-standard-scss"],
  "customSyntax": "postcss-scss",
  "ignoreFiles": [
    "dev-server/**/*.css",
    "dist/**/*.css",
    "source/libs/**/*.css"
  ],
  "rules": {
    "alpha-value-notation": null,
    "at-rule-empty-line-before": null,
    "block-no-empty": null,
    "color-function-alias-notation": null,
    "color-function-notation": null,
    "color-hex-length": null,
    "declaration-no-important": null,
    "no-descending-specificity": null,
    "max-nesting-depth": null,
    "no-empty-source": null,
    "property-no-deprecated": null,
    "rule-empty-line-before": null,
    "scss/dollar-variable-empty-line-before": null,
    "scss/double-slash-comment-empty-line-before": null,
    "scss/double-slash-comment-whitespace-inside": null,
    "scss/no-global-function-names": null,
    "selector-max-compound-selectors": 4,
    "selector-max-id": 0,
    "selector-max-universal": 2,
    "selector-type-no-unknown": [true, {
      "ignoreTypes": ["ymaps"]
    }],
    "value-keyword-case": null
  }
}
