@use 'sass:list';
@use 'sass:map';
@use 'sass:string';

@mixin font-face($fontname, $filename, $style: null, $weight: null, $exts: woff2 woff) {
  $src: null;
  $extmods: (
    eot: '?'
  );

  @each $ext in $exts {
    $extmod: $ext;

    @if map.has-key($extmods, $ext) {
      $extmod: $ext + map.get($extmods, $ext);
    }

    $font-src: url('../../fonts/#{$filename}.#{$extmod}') format(string.quote('#{$ext}'));
    $src: list.append($src, $font-src, comma);
  }

  @font-face {
    font-family: string.quote($fontname);
    font-style: $style;
    font-weight: $weight;
    font-display: swap;
    src: $src;
  }
}

@include font-face('Lato', 'lato/lato-regular', normal, 400);
@include font-face('Oswald', 'oswald/oswald-regular', normal, 400);
